{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Config Files</h1>
            <!--<div class="panel-body">
                <pre style="height: 600px;"><code style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ logs }}</code>
                </pre>
            </div>-->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Local VS Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_6 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Provider Domains Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_7 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    MTP Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_1 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Monitoring Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_5 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ROOE Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_4 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    CoreMano Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_2 }}</code>
                </pre></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    MongoDB Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                            <pre style="height: 300px;"><code
                                    style="white-space: pre; overflow-x: auto; display: inline-block; min-width: 100%;">{{ config_3 }}</code>
                </pre>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Other Config File
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
{% endblock %}
